* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  background: linear-gradient(
    to right,
    hsl(199, 49%, 90%),
    hsl(176, 100%, 97%)
  );
}

/* Header style start */
.blog_header {
  background: rgb(72, 71, 71);
  padding: 5px 20px 10px;
  font-size: 1.5rem;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.blog_header a {
  margin-left: 10vw;
  text-decoration: none;
  color: rgb(14, 232, 120);
}

.blog_header a:hover {
  color: rgb(14, 167, 232);
}
/* Header style end */

/* Footer style start */
.blog_footer {
  background: rgb(86, 104, 9);
  padding: 15px 20px 5px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.blog_footer p {
  text-align: right;
}
/* Footer style end */

/* Top arrow start */
.top_arrow {
  position: fixed;
  bottom: 5vh;
  right: 10px;
  z-index: 20;
  font-size: 2rem;
  transition: all 0.5s ease;
  color: rgb(14, 122, 37);
}
.top_arrow:hover {
  color: rgb(14, 100, 122);
}
/* Top arrow end */

/* Main Posts container start */
.home_main_container {
  top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_card_container {
  width: 70vw;
  margin-bottom: 15px;
  background: rgb(187, 227, 252);
  box-shadow: 3px 3px 10px #bcbcbc;
  transition: box-shadow 0.5s;
}

.single_card_container:hover {
  box-shadow: 3px 3px 22px #959595;
}

.single_card_info_delete_container {
  display: flex;
}

.single_card_info {
  width: 90%;
}

.post_title_container {
  text-align: center;
}

.post_title {
  font-size: 1.8rem !important;
  color: #1f5da0 !important;
}

.post_title:hover {
  font-size: 1.81rem !important;
  color: rgba(5, 50, 153, 0.463) !important;
  text-overflow: hidden;
}

.author_container,
.detail_post_author_container {
  display: flex;
  align-items: center;
}

.author_image {
  border: 2px solid #fff;
}

.author_name,
.detail_post_author_name {
  margin-left: 10px;
  color: gray;
}

.delete_button {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  transition: all 1s;
}

.delete_button:hover {
  color: red;
}
/* Main Posts container end */

/* Detail Posts container start */
.detail_post_container {
  top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail_post_card {
  margin-bottom: 5vh;
  width: 78vw;
  background: rgb(193, 221, 239);
  box-shadow: 3px 3px 22px #959595;
}

.detail_post_author_name {
  text-align: center;
}

.detail_post_author_container {
  justify-content: space-between;
  margin-bottom: 10px;
}
/* Detail Posts container end */

/* No Post Start */
.no_post {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.no_post span {
  font-size: 3rem;
  font-weight: 700;
}
/* No Post End */
